[submodule "sampling/NPEET"]
	path = sampling/NPEET
	url = https://github.com/gregversteeg/NPEET.git
[submodule "sampling/LSD"]
	path = sampling/LSD
	url = https://github.com/wgrathwohl/LSD
[submodule "domain_shift/wilds"]
	path = domain_shift/wilds
	url = https://github.com/p-lambda/wilds
[submodule "domain_shift/tent"]
	path = domain_shift/tent
	url = https://github.com/DequanWang/tent
